
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgb(59, 97, 173) 0%, rgb(39, 20, 138) 100%);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 45%;
    background-color: #00000053;
    backdrop-filter: blur(100px);
    border-radius: 2%;
}

input{
    width: 75%;
    height: 8%;
    margin: 2px;
    padding: 5px 3px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00000053;
    color: white;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    
}

input::placeholder
{
    color: #ffffffc0;
}

input[type="text"]:focus, input[type="password"]:focus
{
    border-color: white;
    background-color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

input[type="submit"]
{
    width: 77%;
    height: 10%;
}


input[type="submit"]:hover
{
    background-color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.error
{
    border-color: red;
}

h1{
    color: white;
    margin: 0 0 20px 0;
}