
<div class="container">
    <div class="divForm">
        <h1 *ngIf="isLoading" class="loadingText">Carregando</h1>
        <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
            <h1>Login</h1>
            <input [ngClass]="{'error': badCredentials}" type="text" placeholder="Username" formControlName="username">
            <input [ngClass]="{'error': badCredentials}" type="password" placeholder="Password" formControlName="password">
            <input type="submit" value="Logar">
            <label *ngIf="badCredentials">Credenciais invalidas</label>
        </form>
    </div>
    
    <p class="version">Version: {{ version }}</p>
    <p>Api status: {{ apiStatus || "Connecting"}}</p>
</div>

