
<header> 
    <h1>Olá: {{ dataUser?.name || ''}}</h1>
    <h2>Saldo: {{ dataUser?.value | currency: "BRL" }}</h2>
</header>
<div class="root">
    <h1 *ngIf="isLoading">Carregando... </h1>
    <div *ngIf="!isLoading" class="counteiner">
        <table>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th></th>
            </tr>
            <tr *ngFor="let i of dataEntry">
                <td>{{ i.date | date: "dd/MM/yyyy" }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.credit ? 'Entrada' : 'Saida'}}</td>
                <td>
                    <p [ngStyle]="{'color': i.credit ? 'black' : 'red'}">
                        {{ i.value | currency: "R$" }}
                    </p>
                </td>
                <td (click)="RemoveEntry(i.id)" class="removeRow">
                    <p>Deletar</p>
                </td>
            </tr>
        </table>
    </div>
    <button (click)="ShowNew()">
        <label>
            +
        </label>
    </button>
    <div class="divForm" *ngIf="formShow">
        <app-new-entry (eventEmmiter)="EventReceved($event)"></app-new-entry>
    </div>
</div>
