header{
    background: rgba(0, 0, 0, 0.250);
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0  10px;
    height: 20%;
}

h1
{
    position: absolute;
}

header h1
{
    position: relative;
}

header h2 {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.root {
    display: flex;
    justify-content: center;
}

img
{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.counteiner{
    margin: 10px 0 0 0;
    width: 70%;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px 0;
    text-align: left;
    background-color: #256b6e;
}


.removeRow
{
    width: auto;
    cursor: pointer;
}


td, th {
    padding: 8px;
}

td
{
    background-color: rgba(0, 0, 0, 0.250);
}

.divForm
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(8px);
    display: flex;

    align-items: center;
    justify-content: center;
}

button
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: none;
    align-content: center;
    background-color: #339497;

    margin: 0 3vh 3vh 0;

    cursor: pointer;

}

button label
{
    font-size: 5ch;
    text-align: center;
    height: 3ch;
}