
    <form [formGroup]="entryForm" (ngSubmit)="OnSubmit()">
        <label>Data: </label>
        <input type="date" formControlName="date" userValueAsDate>
        <label>Valor: </label>
        <input type="number" formControlName="value">
        <label>Descrição: </label>
        <input type="text" formControlName="description">
        <label>Entrada: </label>
        <input type="checkbox" formControlName="credit">
        <input type="submit" value="Adicionar">
        <input type="button" value="Cancelar" (click)="Cancelar()">
    </form>


